@import 'scales';
@import 'typography';
@import 'colors';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  margin: 0;
}
.page-wrapper {
  max-width:400px;
  margin: 0 auto;
}

.blue-box {
  background-color: $cornflower-blue;
  color: white;
  padding:0.5em;
  font-style:italic;
}

.header {
  background-color: $header-color;
  padding: 1em;

  .header-text-box {
    background-color: $header-text-box-color;
    color:white;
    padding: 0.4em 0.85em;

    p {
      text-align:center;
    }
  }

  .basket {
    width:100%;
    height:34px;

    .basket-count-box {
      @extend .header-text-box;
      float:left;
      width:30%; 
    }

    .basket-total-box {
      @extend .header-text-box;
      float:right;
      width:34%;
    }
  }

  .expanded-basket {
    width:100%;


    .basket-count-box {
      @extend .header-text-box;
      float:left;
      width:30%; 
    }

    .basket-total-container {
      height: 25px;
    }

    .basket-total-box {
      @extend .header-text-box;
      float:right;
      width:34%;
    }

     .basket-quantity-box {
      @extend .basket-count-box;
      width:4%;
      clear:left;
    }

    .basket-name-box {
      @extend .basket-count-box;
      width:60.2%;
    }

    .basket-price-box {
      @extend .basket-total-box;
      width:12%;
    }

    li {
    list-style:none;
    height:44px;
    }
  }
}

.wrapper {
  padding: 1em;

  h3 {
    font-weight: 500;
    margin-bottom: 10px;
  }


  ul {
    list-style: none;
    padding:0;

    li {
      padding-bottom: 1em;

      .image-holder {
        position:relative;
        height:250px;
        overflow: hidden;

        .price {
          @extend .blue-box;
          position:absolute;
          left:calc(50% - 28px);  
          top:0;
          z-index:1;
        }

        img.image {
          position:absolute;
          min-height:250px;
          width:100%;

        }

        .name {
          height: 75px;
          position: relative;
          opacity: 0.8;
          z-index: 1;
          background-color: lightgrey;
          top: 72%;
          padding-top: 1px;


          h4 {
            margin-top: 0.5em;
            text-align: center;
            font-size: 21px;
            font-weight:500;
          }

          img.name-curve {
            position: absolute;
            left: 0;
            top: -8px;
            width: 100%;
          }

        }
      }

      .details {
        background-color: white;
        padding:0 1.5em 1.5em 1.5em;
        position:relative;
        z-index:2;

        .tags-container {
          
          text-align: center;

          .tags {
            height: 50px;
            display: inline-block;
            margin: -20px 0 0 -33px;


            ul.tag-list {
              list-style-type: none;
              text-align: center;

              li.tag-list-item {
                float:left;
                width:30px;

                img.tag {
                  position:absolute;
                  z-index:3;
                }
              }
            }
          }
        }

        img.curve {
          position: absolute;
          left: 0;
          top: -8px;
          width: 100%;
        }

        .order-button {
          @extend .blue-box;
          text-align: center;
          margin: 1em 0 0.5em 0;
        }

        .options-text {
          font-size: 0.8em;
        }
      }
    }
  }
}

.footer {
  text-align: center;
  padding-bottom: 1em;
}




