<ul class="meals">
    <li class="meal" ng-repeat="meal in menu.meals">
      <div>
        <div class="image-holder">
          <div class="price">
            <p>£{{meal.price}}</p>
          </div>
          <img class="image" ng-src="{{meal.primaryImageUrl}}">

          <div class="name">
            <img class="name-curve" src="../images/meal-card__curve_grey.svg">
            <h4>{{meal.name}}</h4>
          </div>
        </div>

        <div class="details">
          <img class="curve" src="../images/meal-card__curve.svg">
          
          <p class="description">{{meal.description}}</p>
          <div class="order-button"><p>Add To Your Order</p></div>
          <p class="options-text">3 options available</p>
        </div>
      </div>
    </li>
</ul>
